<%#= link_to "new", new_order_path %>




<%#= image_tag("fb_login.png") %>

<div class="slider">
    <%= image_tag("slider.jpg") %>
</div>










  <%#= form_for @order do |f| %>
     <%#= f.label :pickup_location,'pickup_location'%>
     <%#= f.text_field :pickup_location%>
     <%#= f.label :destination,'destination'%>
     <%#= f.text_field :destination%>
     <%#= f.label :send_name,'send_name'%>
     <%#= f.text_field :send_name%>
     <%#= f.label :tel,'tel'%>
     <%#= f.text_field :tel%>
     <%#= f.label :email,'email'%>
     <%#= f.text_field :email%>
     <%#= f.submit%>
  <%# end %>