// Place all the styles related to the auths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  position: relative;
}
.form{
  margin-left: 20px;
  // margin-bottom: 20px;  
  width: 240px;
  height: 420px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  top: -150px;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #999 inset,0 0 2px 1px #222,0 0 2px 2px rgba(0,0,0,0.3);
}

legend{
  color: #67e;
  text-align: center;
}

.input{
  width: 130px;
  margin-left: 40px;
  padding-top: -10px;
}
.but{
  padding-top: 20px;
  margin-left: 85px;
}
.message{
  // margin-top: -180px;
  margin-left: 20px;
  color: 16px;
  position: relative;
  top: -180px;
}

.header{
  width: 100%;
  height: 90px;
  background-color: #111;
  position: relative;
  z-index: 4;
}
.logo a {
  color: #ee1;
  padding-left: 40px;
  font-size: 60px;
  text-decoration: none;
  position: relative;
  bottom: 90px;
  left: 10px;
  z-index: 4;
}

.login{
  color: white;
  font-size: 20px;
  margin-left: 1200px;
  margin-top: 60px;
  position: relative;
  bottom: 207px;
  z-index: 4
}
.login a{
  color: #ccc;
  z-index: 4
}
.signout{
  color: white;
  font-size: 16px;
  margin-left: 1270px;
  margin-top: 65px;
  position: relative;
  bottom: 207px;
  z-index: 4;
}
.signout a{
  color: #ccc;
  z-index: 4;
}

span{
  color: white;
  font-size: 14px;
  margin-left: 1100px;
  margin-top: 35px;
  position: relative;
  z-index: 4;
  bottom: 227px;
}

.slider {
  width: 100%;
  height: 615px;
  margin-top: -193px;
}

#map{
  margin-top: -410px;
  // margin-left: 300px;
  position: relative;
  z-index: 1;
  top: -233px;
}


.order{
  margin-top: -200px;
  margin-left: 20px;
  padding-left: 20px;
  // margin-bottom: 20px;  
  width: 350px;
  height: 220px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  top: -400px;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #999 inset,0 0 2px 1px #222,0 0 2px 2px rgba(0,0,0,0.3);

}

.order_content{
  font-size: 16px;
  margin-left: 20px;
  margin-top: 90px;
  padding-left: 20px;
  padding-top: 20px;
  // margin-bottom: 20px;  
  width: 220px;
  height: 320px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  top: -150px;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #999 inset,0 0 2px 1px #222,0 0 2px 2px rgba(0,0,0,0.3);
}

.myorder{
  position: absolute;
  top: 35px;
  left: 950px;
  z-index: 4;
  // margin-top: -100px; 
}

.footer{
  color: #fff;
  width: 100%;
  height: 100px;
  // margin-top: -235px;
  padding-top: 40px;
  text-align: center;
  background-color: #234;
}

.foo{
  color: #fff;
  width: 100%;
  height: 255px;
  margin-top: -255px;
  padding-top: 100px;
  text-align: center;
  background-color: #234;
}


